.fountain {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--colorfondogranate);
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width:768px) {
    .fountain {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--colorfondogranate);
        padding-bottom: 30px;
    }
}