.cards {
    background-color: aqua;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    background-color: blueviolet;
    max-width: 20%;
    max-height: 60%;
}
.img_producto {
    width: 100%;
    position: relative;
}

/* <<<<= Diseño Responsive maximo 768px =>>>> */

@media  (max-width: 768px) {
    .cards {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content:space-evenly;
        
    }
    .card {
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
    .img_producto {
        max-width: 100%;
        position: relative;
        border-radius: 20px;
    }
    .title {
        position: relative;
        top: -40%;
        color: var(--colorcinco);
        width: 95%;
        font-size: 1.563rem;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .title, h1 {
        margin-left: 2%;
    }
    .body-card {
        width: 95%;
        position: relative;
        top: -40%;
        margin-left: 2%;
        /* background-color: var(--colorfondomaiz); */
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .p-body {
        text-align: start;
        font-family: var(--fuenteterciaria);
        font-size: 0.938rem;
        margin-left: 2%;
        color: var(--colorcinco);
    }
    .footer_card {
        position: relative;
        top: -37%;
        border-radius: 0 0 20px 20px;
    }
    .icon-card {
        display: flex;
    }
    .icons {
        color: var(--colorcuatro);
        font-size: 40px;
        margin: 3.2px;
        cursor: pointer;
    }
}

/* <<<<= Diseño responsive maximo 600px =>>>> */

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 90%;
    }
}