.cards {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content:space-evenly;
}
.card {
    display: flex;
    flex-direction: column;
    height: 68%;
    overflow: hidden;
}
.img_producto {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 1.25rem;
}
.title {
    position: relative;
    top: -50%;
    color: var(--colorcinco);
    width: 95%;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.title, h1 {
    margin-left: 2%;
}
.body-card {
    width: 95%;
    position: relative;
    top: -50%;
    margin-left: 2%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.p-body {
    text-align: start;
    font-family: var(--fuenteterciaria);
    font-size: 0.75rem;
    margin-left: 2%;
    color: var(--colorcinco);
}
.footer_card {
    position: relative;
    top: -47.2%;
    border-radius: 0 0 1.25rem 1.25rem;
}
.icon-card {
    display: flex;
    justify-content: space-evenly;
}
.icons {
    color: var(--colorcuatro);
    font-size: 2.5rem;
    margin: 0.2rem;
    cursor: pointer;
}

/* <<<<= Diseño responsive maximo 900px =>>>> */

@media (max-width: 900px) {
    .cards {
        grid-template-columns: 45% 45%;
        justify-content:space-evenly;
    }
    .img_producto {
        height: 80%;
    }
    .icons {
        font-size: 2.5rem;
    }
}
/* <<<<= Diseño Responsive maximo 768px =>>>> */

@media  (max-width: 768px) {
    .cards {
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content:space-evenly;
    }
    .card {
        display: flex;
        flex-direction: column;
        height: 75%;
        overflow: hidden;
    }
    .img_producto {
        width: 100%;
        height: 90%;
        object-fit: cover;
        border-radius: 1.25rem;
    }
    .title {
        position: relative;
        top: -48%;
        color: var(--colorcinco);
        width: 95%;
        font-size: 1.563rem;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .title, h1 {
        margin-left: 2%;
    }
    .body-card {
        width: 95%;
        position: relative;
        top: -48%;
        margin-left: 2%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    .p-body {
        text-align: start;
        font-family: var(--fuenteterciaria);
        font-size: 0.938rem;
        margin-left: 2%;
        color: var(--colorcinco);
    }
    .footer_card {
        position: relative;
        top: -46%;
        border-radius: 0 0 1.25rem 1.25rem;
    }
    .icon-card {
        display: flex;
    }
    .icons {
        color: var(--colorcuatro);
        font-size: 3.375rem;
        margin: 0.2rem;
        cursor: pointer;
    }
}

/* <<<<= Diseño responsive maximo 600px =>>>> */

@media (max-width: 600px) {
    .p-body {
        font-size: 0.688rem;
    }
    .icons {
        font-size: 1.875rem;
    }
}
/* <<<<= Diseño responsive maximo 429px =>>>> */

@media (max-width: 429px) {
    .cards {
        grid-template-columns: 80%;
    }
    .card {
        height: 71%;
    }
    .img_producto {
        height: 85%;
    }
    .p-body {
        font-size: 0.688rem;
    }
    .icons {
        font-size: 1.875rem;
    }
}