.figure {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--colorfondonaranja);
}

/*<<<<<<---RESPONSIVO MOBILE & TABLET--->>>>>>*/

@media (max-width:768px) {
    .figure {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--colorfondonaranja);
        padding-bottom: 30px;
    }
}