:root {
    /*>>> VARIABLES DE COLOR <<<*/
    --coloruno: #FBC16B;
    --colordos: #985C39;
    --colortres: #FF7412;
    --colorcuatro: #130100;
    --colorcinco: #FFFFFF;
    --colorfondomaiz: #FFFDBF;
    --colorfondogranate: #FFCCB3;
    --colorfondonaranja: #FFD180;
    /*>>> VARIABLES DE FUENTE <<<*/
    --fuenteprincipal: 'Josefin Sans', sans-serif;
    --fuentesecundaria: 'Sofia Sans Condensed', sans-serif;
    --fuenteterciaria: 'Khand', sans-serif;
}
a {
    text-decoration: none;
    color: var(--colorcinco);
}
#header_index {
    display: flex;
    background-image: url(../images/bannerimg/bannerena.jpg);
    background-size:cover;
    height: 600px;
}
h1 {
    font-family: var(--fuenteprincipal);
    /* font-size: 35px; */
}
h2 {
    font-family: var(--fuenteterciaria);
    font-size:xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3 {
    font-family: var(--fuenteprincipal);
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
}
section {
    margin-top: 50px;
    margin-bottom: 25px;
}
.card {
    height: 644px;
}
#maiz {
    background-color: var(--coloruno);
}
#orange {
    background-color: var(--colortres);
}
#granate {
    background-color: var(--colordos);
}